<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="title icon" type="image/png" href="images/youtube-icon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Include Font Awesome Icons Via CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- Include Custom Styles -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
</body>

</html>